# pkg used in prod env should be added to requirements_prod.txt also

Django==4.2.16
requests==2.32.3
jinja2==3.1.4
sqlalchemy==2.0.38
pymysql==1.1.1
redis==2.10.5
thrift==0.10.0
gevent==24.2.1
pytz==2024.2
MarkupSafe==2.0.1

# encrypt
pycrypto==2.6.1

markdown==3.7
gunicorn==23.0.0
uWSGI==2.0.26
PyYAML==5.1

# for fta
arrow==0.10.0

# for apidoc
Pygments==2.1.3
