# upstream for paas
upstream OPEN_PAAS {
    server opsany-paas-paas:8001 max_fails=1  fail_timeout=30s;
}
upstream OPEN_PAAS_APPENGINE {
    server opsany-paas-appengine:8000 max_fails=1  fail_timeout=30s;
}
upstream OPEN_PAAS_ESB {
    server opsany-paas-esb:8002 max_fails=1  fail_timeout=30s;
}
upstream OPEN_PAAS_LOGIN {
    server opsany-paas-login:8003 max_fails=1  fail_timeout=30s;
}
upstream BASTION_WS {
    server opsany-paas-websocket:8004 max_fails=1  fail_timeout=30s;
}
upstream DASHBOARD_GRAFANA {
    server opsany-paas-grafana:8007 max_fails=1  fail_timeout=30s;
}

# upstream for saas

upstream SAAS_RBAC {
    server 127.0.0.1:7001 max_fails=1  fail_timeout=30s;
}
upstream SAAS_WORKBENCH {
    server 127.0.0.1:7002 max_fails=1  fail_timeout=30s;
}
upstream SAAS_CMDB {
    server 127.0.0.1:7003 max_fails=1  fail_timeout=30s;
}
upstream SAAS_CONTROL {
    server 127.0.0.1:7004 max_fails=1  fail_timeout=30s;
}
upstream SAAS_JOB {
    server 127.0.0.1:7005 max_fails=1  fail_timeout=30s;
}
upstream SAAS_MONITOR {
    server 127.0.0.1:7006 max_fails=1  fail_timeout=30s;
}
upstream SAAS_CMP {
    server 127.0.0.1:7007 max_fails=1  fail_timeout=30s;
}
upstream SAAS_BASTION {
    server 127.0.0.1:7008 max_fails=1  fail_timeout=30s;
}
upstream SAAS_DEVOPS {
    server 127.0.0.1:7009 max_fails=1  fail_timeout=30s;
}
upstream SAAS_CODE {
    server 127.0.0.1:7010 max_fails=1  fail_timeout=30s;
}
upstream SAAS_PIPELINE {
    server 127.0.0.1:7017 max_fails=1  fail_timeout=30s;
}
upstream SAAS_REPO {
    server 127.0.0.1:7020 max_fails=1  fail_timeout=30s;
}
upstream SAAS_DEPLOY {
    server 127.0.0.1:7018 max_fails=1  fail_timeout=30s;
}

server {
    listen 80;
    server_name DOMAIN_NAME;
    location ~ ^/uploads/(.*) {
        autoindex off;
        root /opt/opsany/;
    }
    location ~/ {
        rewrite ^(.*)$ https://$host$1 permanent;
    }
}

server {
     listen       443 ssl;
     server_name  DOMAIN_NAME;
     access_log /opt/opsany/logs/paas_nginx_access.log;
     error_log /opt/opsany/logs/paas_nginx_error.log;
     ssl_certificate /etc/nginx/conf.d/ssl/DOMAIN_NAME.pem;
     ssl_certificate_key /etc/nginx/conf.d/ssl/DOMAIN_NAME.key;
     ssl_session_timeout 5m;
     ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;
     ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
     ssl_prefer_server_ciphers on;
    # gzip config
    gzip on;
    gzip_min_length 1k;
    gzip_comp_level 9;
    gzip_types text/plain application/javascript application/x-javascript text/css application/xml text/javascript application/x-httpd-php image/jpeg image/gif image/png;
    gzip_vary on;
    gzip_disable "MSIE [1-6]\.";
    client_max_body_size    2048m;

    # ============================ paas ============================
    
    # Grafana
    location /grafana/ {
        proxy_pass https://DASHBOARD_GRAFANA;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-WEBAUTH-USER admin;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
    }

    # BASTION WebSocket
     location /ws/bastion/ {
        proxy_pass http://BASTION_WS;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
    }
    # PAAS_SERVICE HOST/PORT
    location / {
        proxy_pass http://OPEN_PAAS;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Scheme $scheme;
        proxy_redirect http:// $scheme://;
        proxy_read_timeout 600;
    }


    # uploads    
    location ~ ^/uploads/(.*) {
        autoindex off;
        root /opt/opsany/;
    }

    # docs
    location ~ ^/docs/ {
        index index.html;
        root /opt/opsany/uploads/;
    }
    
    # app
        location ~ ^/phone/ {
        index index.html;
        root /opt/opsany/uploads/;
    }

    # ============================ appengine ============================
    # ENGINE_SERVICE HOST/PORT
    location ~ ^/v1 {
        proxy_pass http://OPEN_PAAS_APPENGINE;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        proxy_set_header X-Scheme $scheme;
        proxy_read_timeout 600;
    }

    # ============================ esb ============================
    # ESB_SERVICE HOST/PORT
    location ~ ^/api/(.*) {
        proxy_pass http://OPEN_PAAS_ESB/$1$is_args$args;
        proxy_pass_header Server;
        proxy_set_header X-Request-Uri $request_uri;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }


    # ============================ login ============================
    # LOGIN_SERVICE HOST/PORT
    location ~ ^/login/(.*) {
        proxy_pass http://OPEN_PAAS_LOGIN/$1$is_args$args;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_read_timeout 600;
    }

    # ============================ OpsAny SaaS ============================
    # for rbac
    location ~ ^/o/rbac/ {
        proxy_pass http://SAAS_RBAC;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    #for workbench
    location ~ ^/o/workbench/ {
        proxy_pass http://SAAS_WORKBENCH;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for cmdb
    location ~ ^/o/cmdb/ {
        proxy_pass http://SAAS_CMDB;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for control
    location ~ ^/o/control/ {
        proxy_pass http://SAAS_CONTROL;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for job
    location ~ ^/o/job/ {
        proxy_pass http://SAAS_JOB;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for monitor
    location ~ ^/o/monitor/ {
        proxy_pass http://SAAS_MONITOR;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for cmp
    location ~ ^/o/cmp/ {
        proxy_pass http://SAAS_CMP;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for bastion
    location ~ ^/o/bastion/ {
        proxy_pass http://SAAS_BASTION;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for devops
    location ~ ^/o/devops/ {
        proxy_pass http://SAAS_DEVOPS;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for code
    location ~ ^/o/code/ {
        proxy_pass http://SAAS_CODE;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for pipeline
    location ~ ^/o/pipeline/ {
        proxy_pass http://SAAS_PIPELINE;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for repo
    location ~ ^/o/repo/ {
        proxy_pass http://SAAS_REPO;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
    # for deploy
    location ~ ^/o/deploy/ {
        proxy_pass http://SAAS_DEPLOY;
        proxy_pass_header Server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 600;
    }
}
