# Elastic Stack
MYSQL_OPSANY_APM_PASSWORD="OpsAny@2020"
APM_SERVER_HOST="192.168.56.11"
APM_SECRET_TOKEN="OpsAny@2020"
ES_SERVER_IP="192.168.56.11"
ELASTIC_PORT="9200"
ES_USER="opsany"
ES_PASSWORD="OpsAny@2020"
ELASTIC_SEARCH_INDEX="heartbeat-*"
ELASTIC_SEARCH_USERNAME="elastic"
KIBANA_USERNAME="elastic"
KIBANA_PASSWORD="OpsAny@2020"
KIBANA_CLUSTER="https://192.168.56.11:5601"

# event
MYSQL_OPSANY_EVENT_PASSWORD="OpsAny@2020"

# auto
MYSQL_OPSANY_AUTO_PASSWORD="OpsAny@2020"
MONGO_AUTO_PASSWORD="OpsAny@2020"

# prom
MYSQL_OPSANY_PROM_PASSWORD="OpsAny@2020"
MONGO_PROM_PASSWORD="OpsAny@2020"

# kbase
MYSQL_OPSANY_KBASE_PASSWORD="OpsAny@2020"
MONGO_KBASE_PASSWORD="OpsAny@2020"

# k8s
MYSQL_OPSANY_K8S_PASSWORD="OpsAny@2020"

# log
MYSQL_OPSANY_LOG_PASSWORD="OpsAny@2020"
