# Install Path
INSTALL_PATH="/opt/opsany"

# PAAS VERSION
PAAS_VERSION="v3.2.6"
SAAS_VERSION="1.1.6"

# Network
LOCAL_IP="192.168.56.11"
DOMAIN_NAME="192.168.56.11"

EPEL6="http://mirrors.aliyun.com/repo/epel-6.repo"
EPEL7="http://mirrors.aliyun.com/repo/epel-7.repo"

# For Docker Hub
#PAAS_DOCKER_REG="opsany"

#For Aliyun
PAAS_DOCKER_REG="registry.cn-beijing.aliyuncs.com/opsany"
#PAAS_DOCKER_REG="registry-vpc.cn-beijing.aliyuncs.com/opsany"

#For Qcloud

#For HuaweiCloud

#PAAS
PAAS_PAAS_IP="${LOCAL_IP}"
PAAS_LOGIN_IP="${LOCAL_IP}"
PAAS_APPENGINE_IP="${LOCAL_IP}"
PAAS_ESB_IP="${LOCAL_IP}"

# RabbitMQ
RABBIT_SERVER_IP="${LOCAL_IP}"
RABBITMQ_DEFAULT_USER="opsany"
RABBITMQ_DEFAULT_PASS="OpsAny@2020"

# MySQL
MYSQL_SERVER_IP="${LOCAL_IP}"
MYSQL_ROOT_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_PASSWORD="OpsAny@2020"

# MongoDB
MONGO_SERVER_IP="${LOCAL_IP}"
MONGO_INITDB_ROOT_USERNAME="root"
MONGO_INITDB_ROOT_PASSWORD="OpsAny@2020"
MONGO_CMDB_USERNAME="cmdb"
MONGO_CMDB_PASSWORD="OpsAny@2020"
MONGO_JOB_USERNAME="job"
MONGO_JOB_PASSWORD="OpsAny@2020"
MONGO_CMP_USERNAME="cmp"
MONGO_CMP_PASSWORD="OpsAny@2020"
MONGO_WORKBENCH_USERNAME="workbench"
MONGO_WORKBENCH_PASSWORD="OpsAny@2020"
MONGO_MONITOR_USERNAME="monitor"
MONGO_MONITOR_PASSWORD="OpsAny@2020"
MONGO_DEVOPS_USERNAME="devops"
MONGO_DEVOPS_PASSWORD="OpsAny@2020"

# Redis
REDIS_SERVER_IP="${LOCAL_IP}"
REDIS_SERVER_PASSWORD="OpsAny2020"

# SAAS Password
MYSQL_OPSANY_RBAC_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_WORKBENCH_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_CMDB_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_CONTROL_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_JOB_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_MONITOR_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_CMP_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_DEVOPS_PASSWORD="OpsAny@2020"

# Websocket
WEBSOCKET_GUACD_HOST="${LOCAL_IP}"
# 请使用UUID命令生成SECRET KEY，在SAAS打包时注意使用相同的SECRET KEY。
CONTROL_SECRET_KEY="099f6e6f-9ad8-43d7-b487-7f655519598d"

# Zabbix
ZABBIX_DB_NAME="zabbix"
ZABBIX_DB_USER="opsany"
ZABBIX_DB_PASSWORD="OpsAny@2020"

# ElasticSearch
ES_SERVER_IP="${LOCAL_IP}"
ES_PASSWORD="OpsAny@2020"
