<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/login/static/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>登录 | 数字化运维平台</title>
		<script type="module" crossorigin src="/login/static/vite-static/index-lljDL13k.js"></script>
		<link rel="modulepreload" crossorigin href="/login/static/vite-static/@ant-design/icons-vue-ym-L-X2r.js">
		<link rel="modulepreload" crossorigin href="/login/static/vite-static/less-sScrWPmR.js">
		<link rel="modulepreload" crossorigin href="/login/static/vite-static/lodash-CQd0-CO8.js">
		<link rel="modulepreload" crossorigin href="/login/static/vite-static/axios-R-lXtGyY.js">
		<link rel="modulepreload" crossorigin href="/login/static/vite-static/@vueuse/core-B6fUiQ3R.js">
		<link rel="modulepreload" crossorigin href="/login/static/vite-static/@vueuse/integrations-iJ2WoaAF.js">
		<link rel="stylesheet" crossorigin href="/login/static/vite-static/index-DpYBPcyk.css">
	</head>
	<body>
		<div id="app"></div>
		<script>
			window.OPS_AUTH_TYPE = "{{auth_type}}";
			window.OPS_ERROR = "{{error}}";
		</script>
		<script src="https://rescdn.qqmail.com/node/ww/wwopenmng/js/sso/wwLogin-1.0.0.js" type="text/javascript" charset="utf-8" defer></script>
	</body>
</html>
